/*
Name: Sarin Madarasmi
ID: 4626422
*/

h1 {
	color:blue; text-align:center;
} 

thead {
	color:red; font-size:22px;
}

table, th, td {
	border: 1px solid black; border-collapse:separate; background-color:#77DDDD;
}

th, td {
	text-align:center; padding: 15px;
}

.center {
	margin-left:auto; margin-right:auto; text-align:center;
}

td.time {
	color:#FFFFFF; font-style:italic;
}

body {
	text-align:center;
}

label {
	display:inline-block; width: 210px; text-align:left;
}

nav {
	text-align:center;
}

input {
	display:inline-block; width: 210px; text-align:left;
}

input[type=submit] {
	text-align:center;
}

hr {
	width: 300px;
}